.bg-blue {
    background-color: #005cbf;
}

.bg-bluelight {
    background-color: #82b1ff;
}

.txt-blue{
	color: #0d47a1;
	
}
#social-button {
    left: 20px;
    top: 350px;
}
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
.itsme {
  font-family: "Oswald", sans-serif !important;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 14rem;
  border: 0;
  border-top: 5px solid rgba(0, 0, 0, 0.3);
}
.hrlong {
  margin-top: 6rem;
  margin-bottom: 1rem;
  margin-right: 0rem;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

/*Vertical Form Wizard*/

.bs-vertical-wizard {
	padding-right: 0px;
	padding-left: 120px;
	padding-top: 0px;
    padding-bottom: 50px;
}

.bs-vertical-wizard ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bs-vertical-wizard ul>li {
    display: block;
    position: relative;
}

.bs-vertical-wizard ul>li>a {
    display: block;
    padding: 10px 10px 10px 40px;
    color: #ffff;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: .8px;
}

.bs-vertical-wizard ul>li>a:before {
    content: '';
    position: absolute;
    width: 1px;
    height: calc(100% - 25px);
    background-color: #bdc2ce;
    left: 13px;
    bottom: -9px;
    z-index: 3;
}

.bs-vertical-wizard ul>li>a .ico {
    pointer-events: none;
    font-size: 14px;
    position: absolute;
    left: 10px;
    top: 15px;
    z-index: 2;
}

.bs-vertical-wizard ul>li>a:after {
    content: '';
    position: absolute;
    border: 2px solid #bdc2ce;
    border-radius: 50%;
    top: 14px;
    left: 6px;
    width: 16px;
    height: 16px;
    z-index: 3;
}

.bs-vertical-wizard ul>li>a .desc {
    display: block;
    color: #bdc2ce;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: .8px;
}

.bs-vertical-wizard ul>li.complete>a:before {
    background-color: #5cb85c;
    opacity: 1;
    height: calc(100% - 25px);
    bottom: -9px;
}

.bs-vertical-wizard ul>li.complete>a:after {display:none;}
.bs-vertical-wizard ul>li.locked>a:after {display:none;}
.bs-vertical-wizard ul>li:last-child>a:before {display:none;}

.bs-vertical-wizard ul>li.complete>a .ico {
    left: 8px;
}

.bs-vertical-wizard ul>li>a .ico.ico-green {
    color: #5cb85c;
}

.bs-vertical-wizard ul>li>a .ico.ico-muted {
    color: #fff;
}

.bs-vertical-wizard ul>li.current {
	color: #fff;
}

.bs-vertical-wizard ul>li.current>a:before {
    background-color: #fff;
    opacity: 1;
}

.bs-vertical-wizard ul>li.current>a:after {
    border-color: #fff;
    background-color: #fff;
    opacity: 1;
}

.bs-vertical-wizard ul>li.current:after, .bs-vertical-wizard ul>li.current:before {
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.bs-vertical-wizard ul>li.current:after {
    border-color: rgba(255,255,255,0);
    border-left-color: #fff;
    border-width: 10px;
    margin-top: -10px;
}

.bs-vertical-wizard ul>li.current:before {
    border-color: rgba(234,236,241,0);
    border-left-color: #eaecf1;
    border-width: 11px;
    margin-top: -11px;
}
